/*
Phone Book
----------
Client CSS
----------
Dylan Bickerstaff
----------
Contains layouts and styles for the client.
*/
@font-face {
    font-family: 'GSans';
    src: url('../font.ttf');
}

html {
    height: 100%;
    width: 100%;
}

h1, h2, h3, h4 {
    font-weight: normal;
}

body {
    overscroll-behavior: none;
    -webkit-tap-highlight-color: transparent;
    user-select: none;
    font-family: GSans, Arial;
    text-align: center;
    height: 100%;
    width: 100%;
    margin: 0px;
    color: rgba(0,0,0,.85);
    overflow-x: hidden;
}

#logo {
    font-size: 36px;
    margin-top: 40px;
    margin-bottom: 40px;
}

.menu {
    transition:.3s;
    opacity:1;
}

.menu.hidden, .float.hidden:not(#hamopen) {
    pointer-events: none;
    opacity: 0;
}

#numbers > div, .button:hover {
    border-radius: 20px;
    transition: .3s;
    border-radius: 20px;
    box-shadow: 0px 2px 4px rgba(0,0,0,.21), 0px -1px 0px rgba(0,0,0,.05);
    background-color: white;
}

#numbers, #input, input[type=text] {
    max-width: 700px;
    min-width: 200px;
    margin-left: auto;
    margin-right: auto;
}

#input, input[type=text] {
    text-align: center;
    font-size: 20px;
}

#input .type::after {
    content: '';
    display: inline-block;
    height: 20px;
    width: 2px;
    background-color: #000000;
    animation: blink 1s infinite;
    vertical-align: -2px;
}

#tip {
    color: #656565;
    margin-bottom: 40px;
}

#input > span {
    background-color: whitesmoke;
    margin: 5px;
    height: 32px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 8px;
    min-width: 20px;
    border-radius: 20px;
    display: inline-block;
    vertical-align: top;
    cursor: text;
}

#input span .autofill {
    color: rgb(135, 191, 135);
}

#input span.valid {
    background-color: #dfffdf;
    color: #006d00;
}

#input span.number {
    background-color: #e1f6ff;
    color: #006590;
}

#input span.saved {
    background-color: #feffbd;
    color: #3d3e00;
}

@keyframes blink {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

#info {
    position: fixed;
    top: 10px;
    right: 30px;
    width: 20px;
    height: 20px;
    background-color: lightgray;
    border-radius: 10px;
    line-height: 20px;
    font-family: times new roman;
    font-style: italic;
    font-weight: bold;
    cursor: pointer;
    z-index: 10;
}

#info:hover {
    background-color: gray;
    color: white;
}

#info:hover::before {
    content: 'Guide';
    display: inline-block;
    position: absolute;
    left: -45px;
    color: black;
}

img.l {
    position: fixed;
    bottom: 10px;
    right: 30px;
    z-index: 10;
}

body > .menu {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    z-index: 9;
    background-color: white;
    outline: none;
    overflow-y: scroll;
}

#loading > img {
    position: absolute;
    top: calc(40% - 60px);
    left: calc(50% - 60px);
    height: 120px;
    width: 120px;
}

#legend {
    text-align: left;
    padding: 0px 30px 30px 70px;
    width: calc(100% - 70px);
    height: calc(100% - 30px);
    overflow: auto;
}

#main {
    height: 100%;
    overflow-y: scroll;
    transition: .3s;
    margin-left: 50px;
    width: calc(100% - 70px);
    padding: 0px 10px 0px 10px;
    min-width: 300px;
}

#main.hamburger {
    margin-left: 270px;
    width: calc(100% - 290px);
}

.blur {
    filter: blur(5px);
}

#legend .leg {
    margin-bottom: 10px;
}

#legend .leg::before {
    content: '';
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    background-color: whitesmoke;
    vertical-align: -4px;
}

#legend .leg.green::before {
    background-color: #dfffdf;
}

#legend .leg.blue::before {
    background-color: #e1f6ff;
}

#legend .leg.yellow::before {
    background-color: #feffbd;
}

hr {
    border: none;
    background-color: rgba(0,0,0,.2);
    height: 1px;
}

input[type=text] {
    background-color: whitesmoke;
    outline: none;
    border: 0px;
    width: calc(100% - 20px);
    height: 40px;
    padding-left: 10px;
    padding-right: 10px;
    line-height: 40px;
    border-radius: 20px;
    margin-top: 30px;
}

#question span {
    font-size: 20px;
    margin: 20px;
    margin-top: 40px;
    display: inline-block;
    background-color: whitesmoke;
    padding: 10px;
    border-radius: 20px;
    cursor: pointer;
}

#numbers > div {
    height: 40px;
    position: relative;
    margin-bottom: 15px;
    margin-top: 15px;
}

#numbers > div.loading::after {
    content: "";
    display: inline-block;
    position: absolute;
    top: 15px;
    left: 50px;
    width: 80px;
    height: 10px;
    background-color: rgba(0,0,0,.09);
    animation: loadingPulse linear infinite 1s;
}

#numbers > div.loading::before {
    content: "";
    display: inline-block;
    position: absolute;
    top: 15px;
    right: 10px;
    width: 250px;
    height: 10px;
    background-color: rgba(0,0,0,.09);
    animation: loadingPulse linear infinite 1s;
}

@keyframes loadingPulse {
    0% {
        opacity: 1;
    }

    50% {
        opacity: .5;
    }
}

#numbers > div.visible {
    height: 400px;
}

#numbers > div > div {
    height: 40px;
    font-size: 20px;
    border-radius: 20px;
    cursor: pointer;
    line-height: 40px;
    display: flex;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    transition: .3s;
}

#numbers > div.visible > div {
    transition: 0s;
    box-shadow: 0px 1px 2px rgba(0,0,0,.25);
}

#numbers .number {
    font-weight: bolder;
    white-space: nowrap;
    margin-left: 20px;
}

#numbers .tn-border {
    font-weight: bolder;
    color: white;
    background-color: rgba(0,0,0,.1);
    width: 38px;
    height: 38px;
    margin-top: 1px;
    margin-left: 1px;
    border-radius: 20px;
    white-space: nowrap;
    flex: none;
}

#numbers .tn-image {
    margin:2px 0px 0px 2px;
    width:34px;
    height:34px;
    border-radius:17px;
    display:block;
    background-repeat:no-repeat;
    background-image:url('../img/phone.svg');
    background-size:20px;
    background-position:center;
}

#numbers [type=Business] .tn-image {
    background-image:url('../img/business.svg');
    background-size:30px;
}

#numbers [type=Fax] .tn-image {
    background-image:url('../img/fax.svg');
    background-size:22px;
}

#numbers [type=Person] .tn-image {
    background-image:url('../img/person.svg');
    background-size:30px;
}

#numbers [type=Location] .tn-image {
    background-image:url('../img/location.svg');
    background-size:24px;
}

#numbers > div.loading .tn-border {
    background-color: rgba(0,0,0,.1) !important;
}

#numbers .description {
    flex: auto;
    text-align: right;
    margin-left: 20px;
    overflow: hidden;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 16px;
    margin-right: 20px;
}

#numbers div.expand .description {
    text-overflow: clip;
    white-space: normal;
    overflow: visible;
}

#numbers div.expand {
    height: auto;
}

#numbers {
    margin-top: 40px;
}

#legend h3 {
    margin-top: 50px;
}

#legend h1 {
    text-align: center;
}

#legend li {
    margin-top: 10px;
}

.resultsMessage {
    margin: 50px 0px 50px 0px;
}

img.c {
    position: fixed;
    bottom: -13px;
    left: 0px;
}

.float {
    width: 25px;
    height: 25px;
    background-size: 100% 100%;
    cursor: pointer;
    transition: .3s;
    width: 25px;
    height: 25px;
    position: fixed;
    top: 22px;
    left: 12px;
    z-index: 8;
}

#hamopen {
    background-image: url('../img/hamburger.svg');
}

#exit {
    background-image: url('../img/x.svg');
    top: 24px;
    left: 24px;
    z-index: 1000;
}

#hamopen.hidden {
    left: 50px;
    opacity: 0;
}

#hamclose {
    position: absolute;
    background-image: url('../img/back.svg');
    top: 22px;
    left: 12px;
}

#hamburger {
    padding: 20px 10px 20px 10px;
    height: calc(100% - 40px);
    position: fixed;
    left: 0px;
    top: 0px;
    width: 250px;
    box-shadow: 0px 0px 10px rgba(0,0,0,.3);
    overflow-y: auto;
    overflow-x: hidden;
    transition: .3s;
}

#hamburger.hidden #hamclose {
    left: -20px;
    opacity: 0;
}

#hamburger.hidden {
    width: 30px;
}

#hamburger hr {
    margin: 20px 0px 20px 0px;
    transition: .3s;
}

#hamburger h1 {
    font-size: 22px;
    height: 22px;
    font-weight: normal;
    margin: 0px;
    transition: .3s;
    width: 250px;
}

#hamburger.hidden hr:not(.nocollapse), #hamburger.hidden h1:not(:nth-child(2)) {
    height: 0px;
    margin: 0px;
    background-color: transparent;
    border: 0px;
}

#hamburger.hidden h1 {
    color: transparent;
}

.button {
    display: block;
    margin-top: 10px;
    line-height: 30px;
    cursor: pointer;
    height: 30px;
    background-color: rgba(0,0,0,.03);
    border-radius: 15px;
    overflow: hidden;
    width: 100%;
    transition: .3s;
}

#hamburger .button {
    text-align: left;
}

#hamburger.hidden .button {
    width: 30px;
    color: transparent;
}

#hamburger .button > span {
    color: gray;
    float: right;
    margin-right: 10px;
    font-size: 14px;
    margin-top: 2px;
}

#hamburger .button::before {
    content: '';
    display: inline-block;
    width: 18px;
    height: 18px;
    vertical-align: -3px;
    margin: 6px 10px 0px 10px;
    background-size: 100% 100%;
    transition: .3s;
}

#hamburger.hidden .button::before {
    margin: 6px 10px 0px 6px;
}

#hamburger .button.print::before {
    background-image: url('../img/print.svg');
}

#hamburger .button.export::before {
    background-image: url('../img/export.svg');
}

#hamburger .button.help::before {
    background-image: url('../img/help.svg');
}

#hamburger .button.about::before {
    background-image: url('../img/info.svg');
}

#hamburger .button.stats::before {
    background-image: url('../img/stats.svg');
}

#hamburger .button.feedback::before {
    background-image: url('../img/feedb.svg');
}

#printscrn {
    display: none;
    background-color: white;
    min-height: 100%;
    width: 100%;
}

#printscrn table {
    text-align: left;
    border-collapse: collapse;
    font-size: 14px;
    page-break-after: always;
    page-break-inside: avoid;
    width: 100%;
}

#printscrn table th {
    padding: 5px 0px 5px 0px;
}

#printscrn table td {
    border: 1px solid #e2e2e2;
    padding: 5px;
}

#printscrn table tr:nth-child(even) {
    background-color: #efefef;
}

@media print {
    #main, #hamburger, #hamopen {
        display: none;
    }

    #printscrn {
        display: block;
    }
}

#about div, #statistics div {
    padding:0px 20px 0px 20px;
    max-width: 400px;
    text-align: left;
    margin: 0px auto 0px auto;
}

#about .logo {
    width: 110px;
    height: 150px;
    background-image: url('../img/ico.png');
    background-size: 100%;
    margin: 30px auto 0px auto;
}

#about p {
    padding-left: 23px;
}

#about div h1 {
    text-align: center;
}

#feedback select, #feedback textarea, #feedback .button {
    width: 300px;
    display: block;
    margin: 0px auto 20px auto;
    height: 30px;
    padding: 0px;
}

#feedback textarea {
    height: 300px;
    padding: 5px;
    width: 288px;
    resize: none;
}

#feedback .button {
    height: 30px;
}

#statistics p {
    height: 20px;
}

#statistics p.loading {
    width: 200px;
    background-color: whitesmoke;
    animation: 0.8s ease-in-out infinite alternate stat-loading;
}

@keyframes stat-loading {
    from {
        opacity:0.3;
    }
    to {
        opacity:1;
    }
}